Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >      
	<textarea class="form-control" id="comment" name="comment[texto]" value=""></textarea> <br>
	<button type="button" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enviar</button>
</form> 