Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >      
	<textarea class="form-control" id="comment" name="comment[texto]" value=""></textarea> <br>
	<button type="submit">Enviar</button>
</form> 