<div class="jumbotron" id="front-panel">
		<h1><%= title %></h1>
		<p>Quiz es un proyecto de prácticas para el curso MiriadaX de desarrollo de apps en la nube.</p>
		<h6>¡El portal donde podrá crear sus propios juegos!</h6><p>
		<p><a class="btn btn-primary btn-lg" href="http://wikipedia.org/wiki/Quiz" role="button">Learn more</a></p>
</div>
