
	#main {
		background: url(/images/fondo01.jpg) no-repeat fixed center;
	}

	#front-panel, #quizes-panel, #temas-panel, #showbytema-panel, #stats-panel, #db-panel {
		background-color: 	rgba(238, 238, 238, 0.6);
		box-shadow: 		10px 10px 5px #D7D7D7;
	}

	#comment-panel {
		background-color: 	rgba(238, 238, 238, 0.4);
		box-shadow: 5px 5px 5px #D7D7D7;
	}

	#comment-table {
		background-color: 	rgba(238, 238, 238, 0.4);
		border-top: none;
	}

	#login {
		/* max-width: 220px; */
		margin: auto;
	}