
	#main {
		background: url(/images/fondo01.jpg) no-repeat fixed center;
	}

	#front-panel #quizes-table #comments-table #temas-table {
		background-color: rgba(238, 238, 238, 0.6);

		-moz-box-shadow:10px 10px 5px #D7D7D7;
		-webkit-box-shadow:10px 10px 5px #D7D7D7;
		box-shadow:10px 10px 5px #D7D7D7;

	}

