<h2>Página de estadísticas</h2>

<ul>
  <li>Preguntas: <%= statistics.questions %></li>
  <li>Comentarios: <%= statistics.comments %></li>
  <li>Comentarios por pregunta: <%= statistics.average_comments %></li>
  <li>Preguntas sin comentarios: <%= statistics.no_commented %></li>

</ul>