
<div class="container" id="login">

	<h4>User</h4>

	<form class="form-horizontal" method='POST' action='/login'>
		<div class="form-group">
			<div class="field">
				<label for="login">Login:</label><br />
				<input type="text" id="login" name="login" size="30" />
			</div>
			<div class="field">
				<label for="password">Password:</label><br />
				<input type="password" id="password" name="password" size="30" />
			</div>
			<div class="actions">
				<br>
				<input name="commit" type="submit" value="Login "></input>
			</div>
		</div>
	</form>

</div>