<h4>Temas</h4>

<div class="panel panel-default table-responsive">
	<table class="table">
		<tr>
			<% var i; for (i=0; i < quizes.length; i++) { %>
				<td><a name="<%= quizes[i].tema %>" href="temas/<%= quizes[i].tema %>"><%= quizes[i].tema %> </a></td>
			<% } %>
		</tr>
	</table>
</div>